{% extends "base_template.html" %}
{% load static %}
{% block content %}
    <div class="flex-column col-md-12 h-100 align-items-center">
        <div class="col-md-12 flex">
            <main class="form-signin bg-dark rounded border-dark">
                <form method="post">
                    {% csrf_token %}
                    {% if form.errors %}<p class="text-white">Your username and password did not match. Please try again.</p>{% endif %}
                    <div class="form-group form-floating">
                        {{ form.username }}
                        <label for="{{ form.username.id_for_label }}">Username:</label>
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group form-floating">
                        {{ form.password }}
                        <label for="{{ form.password.id_for_label }}">Password:</label>
                        {{ form.password.errors }}
                    </div>
                    <button class="w-100 btn btn-lg btn-primary text-light bg-secondary border-light"
                            type="submit">Login</button>
                </form>
            </main>
        </div>
    </div>
{% endblock content %}
