{% load static %}
{% load i18n %}
{% comment %}
<a class="jump_to_content jump_to" href="#content">Zum Seiten Inhalt springen</a>
<a class="jump_to_navbar jump_to" href="#navbar">Zur Navigation springen</a>
<a class="jump_to_create_landing jump_to" href="#create_lending">Zum erstellen von Ausleihen springen</a>
{% endcomment %}
<div class="container">
    <a class="navbar-brand logo-container"
       href="{% url 'user_interface:home' %}">
        <img class="logo"
             src="{% static 'img/content/hhu_logo.svg' %}"
             alt="Logo der MIZ.it">
    </a>
</div>
<nav class="navbar navbar-expand-lg navbar-light sticky-top"
     aria-label="Globale Navigation"
     id="navbar">
    <div class="container nav-container">
        <button class="navbar-toggler"
                role="button"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Mobile Navigation">
            <span class="navbar-toggler-icon" aria-hidden="true"></span>
            <span class="sr-only">Menu</span>
        </button>
        <div class="navbar-collapse"
             id="navbarNavAltMarkup"
             arial-label="Desktop Navigation">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if home_navlink_active %}active{% endif %}"
                       {% if home_navlink_active %}aria-current="page"{% endif %}
                       href="{% url 'user_interface:home' %}"
                       aria-label="Übersicht">{% trans "menu-home" context "following strings are used in the navigation" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if home_navlink_active %}active{% endif %}"
                       {% if chat_navlink_active %}aria-current="page"{% endif %}
                       href="{% url 'user_interface:chat' %}"
                       aria-label="Übersicht">{% trans "menu-chat" context "following strings are used in the navigation" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'authentication:logout' %}"
                       aria-label="Ausloggen">{% trans "menu-logout" %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
